@import "/src/styles/global";
.o-navigation{
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 26;
  display: flex;
  align-items: center;
  backdrop-filter: blur(15x);
  justify-content: center;
  height: 80px;
  img{
    height: 32px;
  }
  @media screen and (max-width: 980px) {
    height: 160px;
    img{
      height: 64px;
    }
  }
  z-index: 1968;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

  background-size: 300% 300%;
  background-image: linear-gradient(
                  -45deg,
                  rgb(0, 83, 119) 0%,
                  rgb(0, 13, 75) 25%,
                  rgb(52, 16, 66) 51%,
                  rgb(2, 2, 10) 100%
  );
  animation: AnimateBG 5s ease infinite;
}
@keyframes AnimateBG {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
