@import "/src/styles/global";
.a-button{
  width: auto;
  max-height: 70px;
  height: 35px;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
  padding: 10px 16px;
  font-size:100%;
  border-radius:5px;
  text-transform: uppercase;
  transition: background 0.5s;
  font-weight: 500;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

  &.-default{
    background: $primary-default;
    background-position: center;
    color: $black;
    &:hover {
      background: darken($primary-default-hover, 5%) radial-gradient(circle, transparent 1%, darken($primary-default-hover, 5%) 1%) center/15000%;
    }
    &:active {
      background-color: darken($primary-default, 10%);
      background-size: 100%;
      transition: background 0s;
    }
  }


  &.-success{
    background: $primary-blue;
    color: $black;
    background-position: center;
    &:hover {
      background: darken($primary-blue-hover, 5%) radial-gradient(circle, transparent 1%, darken($primary-blue-hover, 5%) 1%) center/15000%;
    }
    &:active {
      background-color: darken($primary-blue, 10%);
      background-size: 100%;
      transition: background 0s;
    }
  }

  &.-danger{
    background: $primary-red;
    background-position: center;
    &:hover {
      background: darken($primary-red-hover, 5%) radial-gradient(circle, transparent 1%, darken($primary-red-hover, 5%) 1%) center/15000%;
    }
    &:active {
      background-color: darken($primary-red, 10%);
      background-size: 100%;
      transition: background 0s;
    }
  }

  &.-warning{
    background: $primary-yellow;
    background-position: center;
    &:hover {
      background: darken($primary-yellow-hover, 5%) radial-gradient(circle, transparent 1%, darken($primary-yellow-hover, 5%) 1%) center/15000%;
    }
    &:active {
      background-color: darken($primary-yellow, 10%);
      background-size: 100%;
      transition: background 0s;
    }
  }

  &.-disabled{
    cursor: not-allowed;
    opacity: 70%;
    transition: 0s;
    &:hover,&:active,&:focus{
      background-position: center;
    }
  }

  &.-outlined-danger{
    color: $primary-red;
    border: 1px solid $primary-red;
    background-color: $black;
    background-position: center;
    &:hover {
      background: darken($black, 5%) radial-gradient(circle, transparent 1%, $black(white, 5%) 1%) center/15000%;
    }
    &:active {
      background-color: darken($primary-red, 10%);
      background-size: 100%;
      transition: background 0s;
    }
  }

  &.-outlined-warning{
    color: $primary-yellow;
    border: 1px solid $primary-yellow;
    background-color: $black;
    background-position: center;
    &:hover {
      background: darken($black, 5%) radial-gradient(circle, transparent 1%, darken($black, 5%) 1%) center/15000%;
    }
    &:active {
      background-color: darken($primary-yellow, 10%);
      background-size: 100%;
      transition: background 0s;
    }
  }
  &.-outlined-success{
    background-color: $black;
    border: $primary-blue 1px solid;
    background-position: center;
    color: $primary-blue;
    &:hover {
      background: darken($black, 5%) radial-gradient(circle, transparent 1%, darken($black, 5%) 1%) center/15000%;
    }
    &:active {
      background-color: darken($primary-blue, 10%);
      background-size: 100%;
      transition: background 0s;
    }
  }


  &.-outlined-default{
    color: $primary-default;
    border: 1px solid $primary-default;
    background-color: $black;
    background-position: center;
    &:hover {
      background: darken(white, 5%) radial-gradient(circle, transparent 1%, darken(white, 5%) 1%) center/15000%;
    }
    &:active {
      background-color: darken($primary-default, 10%);
      background-size: 100%;
      transition: background 0s;
    }
  }

  &.-transparent{
    background-position: center;
    background-color: darken( rgba(0, 0, 0, 0.2), 5%) !important;

    &:hover {
      background: darken( rgba(0, 0, 0, 0.12), 5%) radial-gradient(circle, transparent 1%, darken( rgba(0, 0, 0, 0.12), 5%) 1%) center/15000%;
    }
    &:active {
      background-color: darken( rgba(0, 0, 0, 0.2), 5%);
      background-size: 100%;
      transition: background 0s;
    }
  }

  &.-circle{
   border-radius: 100% !important;
  }
}

