$primary-blue: #1ffca2;
$primary-blue-hover: #62fcbc;

$primary-red: #fd5438;
$primary-red-hover: #fa7b65;

$primary-orange: #fd6638;
$primary-orange-hover: #fda88d;

$primary-default: #a56bfc;
$primary-default-hover: #b58bfa;

$primary-yellow: #fdd638;
$primary-yellow-hover: #fcdc60;

$primary-gray: rgba(206, 178, 250, 0.3);
$bg-purple: #19051e;
$white: #fff;
$black: #000;

body {
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
}
html, body {
  width: 100%;
  height:100%;
}
body {
  background: linear-gradient(-90deg, #491057, #1e1e1e, #252525, #491057);
  background-size: 400% 400%;
  animation: gradient 13s ease  infinite;
}
@keyframes gradient {
  0% {
    background-position: 25% 50%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 50% 25%;
  }
}
